/* Contact.module.css, Kenta Yamada, 301366037, 2024/01/27 */

.grid {
  display: grid;
  grid-template-columns: auto 600px;
  gap: 50px 50px;
  margin-top: 30px;
}

.grid-item {
  background-color: var(--section-background-color);
  min-height: 200px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #d4d0d0;
  transition: .3s border-color;
}

.input:hover {
  border: 2px solid var(--primary-color);
}

.input:focus {
  outline: none !important;
  border: 2px solid var(--primary-color);
}

.download-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--section-background-color);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.download-btn:hover {
  opacity: 0.8;
}

.contact {
  display: flex;
  font-size: 30px;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

@media(max-width: 1200px) {
  .grid {
    grid-template-columns: auto;
  }
}
