/* Home.module.css, Kenta Yamada, 301366037, 2024/01/27 */

.name {
  color: var(--primary-color);
}

.icon {
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px 50px;
  height: 100%;
}

.grid-item {
  background-color: var(--section-background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 20px;
  gap: 30px
}

.statement {
  font-size: 23px;
  font-style: italic;
}

.greeting {
  font-size: 60px;
}

.subtitle {
  font-weight: bold;
  font-size: 33px;
}

.about-me-btn {
  border-radius: 4px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.about-me-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.about-me-btn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.about-me-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.about-me-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.icon-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.icon-btn:hover {
  opacity: 0.6;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

@media(max-width: 1200px) {
  .grid {
    grid-template-columns: auto;
  }
}
